.dashboard-grid-container {
  background-color: #2196f3;
  padding: 10px;

  display: grid;

  /*
    grid-column-gap: 10px;
    grid-row-gap: 10px;
     */
  grid-gap: 10px;

  /* justify-content: space-between;
    grid-template-columns: auto auto auto; */
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 15fr 1fr;

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .header {
    /* 
      grid-column-start: 1;
      grid-column-end: 4;
      */
    /* grid-column: 1 / 4; */
    grid-column: 1 / span 3;

    grid-row: 1;
  }

  .menu {
    /* 
      grid-column-start: 1;
      grid-column-end: 5;
      */
    /* grid-column: 1 / 5; */
    grid-row: 2 / span 5;

    grid-column: 1;
  }

  .body {
    /* grid-row-start grid-column-start grid-row-end grid-column-end */
    grid-area: 2 / 2 / 7 / 4;
  }

  .footer {
    grid-column: 1 / span 3;
  }
}
